<div class="card">
  <div class="card-body">
    <h6>Menu</h6>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="/register">Registro</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/api">API Root</a></li>
    </ul>
  </div>
</div>
